@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.cakes-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f222f;
}
.cakes-body .fa-backward
{
    position: fixed;
    top: 0;
    left: 0;
    padding: 100px;
    cursor: pointer;
    color: #fff;
    @media screen and (max-width: 480px) {
        padding: 20px;
    }
}
.cakes-container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 770px) {
        flex-direction: column;
    }
}
.cakes-container .cakes-glass
{
    position: relative;
    width: 200px;
    height: 240px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 25px 25px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    transform: rotate(calc(var(--r) * 1deg));
    @media screen and (max-width: 770px) {
        width: 120px;
        height: 160px;
    }
}
.cakes-container:hover .cakes-glass
{
    transform: rotate(0deg);
    margin: 0 20px;
    @media screen and (max-width: 890px) {
        margin: 0 10px;
    }
    @media screen and (max-width: 840px) {
        margin: 0 0;
    }
    @media screen and (max-width: 770px) {
        width: 200px;
        height: 240px;
    }
}
.cakes-container .cakes-glass::before
{
    content: attr(data-text);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.cakes-container .cakes-glass img
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}